/* common shared style */
body {
    font-family: 'Lato', sans-serif;
  
    
}

.btn-primary {
    color: #FFF;

font-size: 18px;
border:0;
font-weight: 700;
border-radius: 8px;
background: #E55473;
padding: 20px 40px;


}

.section-title {
    color: #272727;
text-align: center;

font-size: 40px;

font-weight: 800;


}

.section-description {
    color: rgba(39, 39, 39, 0.60);
text-align: center;

font-size: 18px;

font-weight: 400;


}


/* header related styes */
.header {
    background-color: rgba(229, 84, 115, 0.10);
   
   
}


.banner {
    padding: 30px 30px 0px 186px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 650px;
}

.banner .profile-pic {
    width: 550px;
    margin-right: 100px;
}



.banner-title {
    color: #272727;

font-size: 60px;

font-weight: 800;

}

.banner-description {
    color: rgba(39, 39, 39, 0.60);

font-size: 18px;

font-weight: 400;

    margin-bottom: 20px;
}


/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 150px;
}

/* featured styles */


.featured-container {
    margin-top: 48px;
    display: flex;
    gap: 24px;
    
    
}

.featured-info {
    text-align: center;
    


}
.image-1
{
  height: 500px;
  width: 400px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.image-2
{
    height: 500px;
  width: 400px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.image-3
{
    height: 500px;
  width: 400px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}

.featured-image
{
    padding: 110px 18px 0px 0px;
    align-items: center;
}

.featured-title
{
    margin-top: 32px;
}


/* delivery styles */
.delivery
{
    padding: 0px 130px;
    border-radius: 8px;
    width: 970px;
background: rgba(39, 39, 39, 0.05);
}
.delivery-container
{
    
    
    display: flex;

   
    gap: 300px;
    height: 250px;


  
}
.delivery-info
{
    align-items: center;
    margin-top: 70px;
    
}
.delivery-image
{
    margin-left: 27px;
}
.delivery-title
{
    color: rgba(39, 39, 39, 0.80);
text-align: center;

font-size: 15px;

font-weight: 600;
width: 140px;

}


/* sign-up styles */

/* footer styles */
 




