/* common shared style */
body {
    font-family: 'Lato', sans-serif;
  
    
}

.btn-primary {
    color: #FFF;

font-size: 18px;
border:0;
font-weight: 700;
border-radius: 8px;
background: #E55473;
padding: 20px 40px;


}

.section-title {
    color: #272727;
text-align: center;

font-size: 40px;

font-weight: 800;


}

.section-description {
    color: rgba(39, 39, 39, 0.60);
text-align: center;

font-size: 18px;

font-weight: 400;


}


/* header related styes */
.header {
    background-color: rgba(229, 84, 115, 0.10);
   margin-bottom: 170px;
   
}


.banner {
    padding: 30px 30px 0px 186px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 650px;
}

.banner .profile-pic {
    width: 550px;
    margin-right: 100px;
}



.banner-title {
    color: #272727;

font-size: 60px;

font-weight: 800;

}

.banner-description {
    color: rgba(39, 39, 39, 0.60);

font-size: 18px;

font-weight: 400;

    margin-bottom: 20px;
}


/* main section styles */
main  #main{
    max-width: 1250px;
    margin: 0 auto;
    
}

main section {
    margin-top: 200px;
}

/* featured styles */



.featured-container {
    margin-top: 48px;
    display: flex;
    gap: 24px;
    
    
    
}

.featured-info {
    text-align: center;
    


}
.image-1
{
  height: 500px;
  width: 400px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  
}
.image-2
{
    height: 500px;
  width: 400px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.image-3
{
    height: 500px;
  width: 400px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}

.featured-image
{
    
    align-items: center;
    margin-top: 110px;
}

.featured-title
{
    margin-top: 32px;
}


/* delivery styles */
.delivery
{
    
    border-radius: 8px;
    
    background: rgba(39, 39, 39, 0.05);
margin-top: 230px;
width: 1940px;
}
.delivery-container
{

    display: flex;
   
    gap: 100px;
    
    margin-top: 130px;
}
.delivery-info
{
    align-items: center;
    margin-top: 70px;
   
    
}
.delivery-image
{
    margin-left: 157px;
}
.delivery-title
{
    color: rgba(39, 39, 39, 0.80);
text-align: center;

font-size: 15px;

font-weight: 600;
width: 290px;
margin-left: 60px;

}


/* sign-up styles */
.sign-up
{
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
margin-bottom: 120px;

}
.sign-up-container
{
    display: flex;
    gap: 186px;
    align-items: center;
   
    
}
.sign-up-info-1
{
    
    margin-top: 100px ;
    margin-left: 290px;
    
    
   
}
#sign-up-info-1-description
{
    width: 670px;
    
}
.sign-up-info-2
{
    
    margin-top: 100px ;
}

#sign-up-btn
{
    margin-left: 230px;
    margin-top: 50px;
}


/* instragram styles */

.instragram-images
{

    display: flex;
    gap: 28px;
}

/* contact styles */
.contact
{
    background: url("../images/Rectangle\ 9.png");
   
    height: 440px;
    border-radius: 8px;
   
}
#contact-title
{
    padding: 122px 300px 0px 300px ;
    
}

.email
{
    margin-left: 230px;
    width: 700px;
    height: 64px;
    border: 0;
    border-radius: 8px;
background: #FFF;
    
}

#subscribe
{
      margin-left: 30px;
    
}
/* footer styles */
 footer{
    background: #111010;
    height: 450px;
 }

 .footer-title
 {
    color: #E55473;
    
    font-size: 48px;
   
    font-weight: 800;
    padding-top: 140px;
    padding-left: 670px;
    
 }

 .footer-description
 {
    color: rgba(255, 255, 255, 0.90);
      margin-top: -30px;
font-size: 18px;

font-weight: 400;
     width: 500px;
     margin: 0px 600px;

 }
 .copyright
 {
    color: rgba(255, 255, 255, 0.40);
text-align: center;
margin-top: 40px;
font-size: 16px;

font-weight: 400;

 }



